<footer class="flex">
    <p class="flex">&copy; 2024 <a href="https://github.com/charmonder" class="link">charmonder</a><img src="/images/fire.svg" class="fire-icon" alt="fire-icon"> Powered by <a href="https://mangadex.org/" class="link">MangaDex</a></p>
</footer>

</body>
</html>